<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf测试类</title>
</head>
<body>
<!--<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>sex</td>
        </tr>
        <tr th:each="sheep:${sheepList}">
            <td th:text="${sheep.id}">id</td>
            <td th:text="${sheep.name}">name</td>
            <td th:text="${sheep.age}">age</td>
            <td th:text="${sheep.sex}">sex</td>
        </tr>
    </table>
</div>-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table >
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>age</td>
                    <td>sex</td>
                </tr>
                <tr th:each="sheep:${sheepList}">
                    <td th:text="${sheep.id}">id</td>
                    <td th:text="${sheep.name}">name</td>
                    <td th:text="${sheep.age}">age</td>
                    <td th:text="${sheep.sex}">sex</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>